<%- include( 'templates/head' , { home: '' , categories: '' , popular: '' ,
    recent: '' , pageStyle: 'css/book-details.css' }) %>

    <div class="mb-5">
        <section class="container-fluid row justify-content-center banner">
            <img src="<%= bookInfo.volumeInfo.imageLinks.thumbnail %>">
        </section>

        <section class="container-md">
            <div class="book-presentation">
                <img src="<%= bookInfo.volumeInfo.imageLinks.thumbnail %>">
                <article class="row">
                    <div class="col-md-auto">
                        <h1><%= bookInfo.volumeInfo.title %></h1>
                        <div class="row d-table ms-4 mt-5">
                            <div class="col-md-auto">
                                <% if (typeof(bookInfo.volumeInfo.authors) === 'object') { %>
                                    <h3><i class="main-data">Author:</i>&nbsp; <%= bookInfo.volumeInfo.authors[0] %>, and others</h3>
                                <% } else if (typeof(bookInfo.volumeInfo.authors) !== 'object') { %>
                                    <h3><i class="main-data">Author:</i>&nbsp; <%= bookInfo.volumeInfo.authors %></h3>
                                <% } %>
                                <h4><i class="main-data">Publisher:</i>&nbsp; <%= bookInfo.volumeInfo.publisher %></h4>
                            </div>

                            <div id="book-data" class="col-md-auto d-flex m-3">
                                <div>
                                    <p class="m-4 data-chunk">
                                        <i id="page-account" class="fas fa-scroll"></i>
                                        <i>Page Account:&nbsp;</i><%= bookInfo.volumeInfo.pageCount %>
                                    </p>
                                    <p class="m-4 data-chunk">
                                        <i id="language" class="fas fa-language"></i>
                                        <i>Language:&nbsp;</i><%= bookInfo.volumeInfo.language.toUpperCase() %>
                                    </p>
                                </div>
                                <div>
                                    <p class="m-4 data-chunk">
                                        <i id="published-date" class="fas fa-calendar-day"></i>
                                        <i>Published Date:&nbsp;</i><%= bookInfo.volumeInfo.publishedDate %>
                                    </p>
                                    <% if (bookInfo.saleInfo.saleability === 'FOR_SALE') { %>
                                        <p class="m-4 data-chunk">
                                            <i id="price" class="fas fa-dollar-sign"></i>
                                            <i>Price:&nbsp;</i>
                                            <%= bookInfo.saleInfo.listPrice.amount %>
                                            <%= bookInfo.saleInfo.listPrice.currencyCode %>
                                        </p>
                                    <% } else if (bookInfo.saleInfo.saleability === 'NOT_FOR_SALE') { %>
                                        <p class="m-4 data-chunk">
                                            <i id="price" class="fas fa-dollar-sign"></i>
                                            <i>Price:</i> Not for sale
                                        </p>
                                    <% } %>
                                </div>
                            </div>
                            <div id="description" class="mt-4">
                                <h3 class="main-data">Synopsis:</h3>
                                <p><%- bookInfo.volumeInfo.description %></p> <%# Add a "show all" button later... %>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </section>
    </div>

    <%- include('templates/footer') %>
