<%- include( 'templates/head' , { home: " active" , categories: "" ,
    popular: "", recent: "" , pageStyle: "css/home.css"}) %>

    <div class="container-md">
        <section id="main-section">
            <% let index = 0 %>  <%# Variable to select the API books %>
            <% for (let col=0; col < 3; col++) { %>
                <div class="row text-center justify-content-evenly">
                    <% for (let row=0; row < 4; row++) { %>
                        <div class="col-md-auto my-3">
                            <% index += 1 %>
                            <div>
                                <% try { %>
                                    <% books[index].volumeInfo.imageLinks.thumbnail %> <%# Checks if there's an image %>
                                    <img src="<%= books[index].volumeInfo.imageLinks.thumbnail %>" alt="Sample Book" class="book-images">

                                <% } catch { %>
                                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/39/Book.svg/1200px-Book.svg.png" alt="Sample Book" class="book-images">
                                <% } %>

                                <% try { %>
                                    <% books[index].volumeInfo.description %> <%# Checks if there's a description %>
                                    <p><%= books[index].volumeInfo.description.slice(0, 237) + "..." %></p>  <%# Update later %>
    
                                <% } catch { %>
                                    <p>Description</p>
                                <% } %>
                            </div>
                            <% try { %>
                                <% books[index].volumeInfo.title %> <%# Checks if there's a title %>
                                <p class="mt-2"><%= books[index].volumeInfo.title %></p>

                            <% } catch { %>
                                <p class="mt-2">Title</p>
                            <% } %>
                        </div>
                        <% } %>
                </div>
            <% } %>
        </section>
        <section id="pagination" class="mb-5 text-center">
            <!-- Pagination Section -->
            <a class="btn btn-warning me-2" href="/"><i class="fas fa-arrow-left"></i>&nbsp Previous</a>
            <a class="btn btn-warning mx-1" href="/">1</a>
            <a class="btn btn-warning mx-1" href="/">2</a>
            <a class="btn btn-warning mx-1" href="/">3</a>
            <a class="btn btn-warning mx-1" href="/">. . .</a>
            <a class="btn btn-warning mx-1" href="/">9</a>
            <a class="btn btn-warning ms-2" href="/">Next &nbsp<i class="fas fa-arrow-right"></i></a>
        </section>
    </div>

    <%- include("templates/latest-books") %>
    <%- include("templates/footer") %>
