<%- include( 'templates/head' , { home: " active" , categories: "" ,
    popular: "", recent: "" , pageStyle: "css/home.css"}) %>

    <div class="container-md">
        <section id="main-section">
            <% let index = 0 %> <%# Variable to select the API books %>
            <% let limitReached = false %> <%# Warn if the books have reached their limit %>
            <% for (let col=0; col < 3; col++) { %>
                <div class="row text-center justify-content-center">
                    <% for (let row=0; row < 4; row++) { %>
                        <div class="col-md-auto my-3 mx-3">
                            <% index += 1 %>
                            <% try { %>
                                <% books[index].imageLinks.thumbnail %>
                            <% } catch { %>
                                <% limitReached = true; break %>
                            <% } %>

                            <div>
                                <img src="<%= books[index].imageLinks.thumbnail %>" alt="Sample Book" class="book-images">
                                <p><%= books[index].description.slice(0, 237) + "..." %></p>
                            </div>
                            <p class="mt-2"><%= books[index].title %></p>

                        </div>
                    <% } %>
                    <% if (limitReached) break %>
                </div>
            <% } %>
        </section>
        <section id="pagination" class="mb-5 text-center">
            <!-- Pagination Section -->
            <a class="btn btn-warning me-2" href="/"><i class="fas fa-arrow-left"></i>&nbsp Previous</a>
            <a class="btn btn-warning mx-1" href="/">1</a>
            <a class="btn btn-warning mx-1" href="/">2</a>
            <a class="btn btn-warning mx-1" href="/">3</a>
            <a class="btn btn-warning mx-1" href="/">. . .</a>
            <a class="btn btn-warning mx-1" href="/">9</a>
            <a class="btn btn-warning ms-2" href="/">Next &nbsp<i class="fas fa-arrow-right"></i></a>
        </section>
    </div>

    <%- include("templates/latest-books") %>
    <%- include("templates/footer") %>