<header>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-md">
            <a class="navbar-brand" href="/"><img id="logo-icon" src="src/logo.png">Bookffee</a>
            <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between"
                id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0" id="navbar-sections">
                    <li class="nav-item">
                        <a class="nav-link<%=home%>" aria-current="page"
                            href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link<%=categories%>" aria-current="page"
                            href="/categories">Categories</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link<%=popular%>" aria-current="page"
                            href="/popular">Popular</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link<%=recent%>" aria-current="page"
                            href="/recent">Recent</a>
                    </li>
                </ul>
                <form class="navbar-nav ms-auto">
                    <input id="search" class="form-control" type="search"
                        placeholder="Search" aria-label="Search book">
                    <i id="search-icon" class="fas fa-search"></i>
                </form>
            </div>
        </div>
    </nav>

    <div class="container-md">
        <div id="page-title" class="my-5 pb-3 text-center text-white border-bottom border-1 border-secondary">
            <h1><%= sectionTitle %></h1>
        </div>
    </div>
</header>